<div class="header"></div>
<div class="container">
  <div class="salutation">Dear valued employee,</div>
  <div class="email-body">
    <p>This email is to inform you that your profile status has been changed to <%= @user.status %>. We are requesting you to contact your HR representative if and only if the current status is not valid for you.</p>
  </div>
  <div class="thank-note">
    <p>Thanks &amp; Regards,</p>
    <p>HR Department,</p>
    <p>Staffomatic User Management</p>
  </div>
</div>
<div class="footer"></div>
